<launch>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_footprint"/>
    <param name="map_update_interval" value="0.5"/> 
    <param name="maxUange" value="4.0"/>
    <param name="xmin" value="-5.0"/>
    <param name="ymin" value="-5.0"/>
    <param name="xmax" value="5.0"/>
    <param name="ymax" value="5.0"/>
    <param name="delta" value="0.05"/>
    <param name="particles" value="50"/>
    <param name="minimumScore" value="50"/>
    <param name="angularUpdate" value="0.05"/>
    <param name="linearUpdate" value="0.05"/>
    <!--<param name="temporalUpdate" value="0.5"/>-->
  </node>

</launch>
